NEXT_PUBLIC_SUPABASE_URL=https://xxbnimfawclkbrnxolou.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4Ym5pbWZhd2Nsa2JybnhvbG91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0ODMwNDcsImV4cCI6MjEwMzA1OTA0N30.88Mpgl8uFoY2Kmf9WBQHL0mes35r0Kr88zPco7Jl0jE
